resources:
- type: storage.v1.bucket
  name: {{ properties['bucket-name'] }}
  properties:
    project: {{ properties['project-name'] }}
    name: {{ properties['bucket-name'] }}

- type: gcp-types/pubsub-v1:projects.topics 
  name: projects/{{ properties['project-name'] }}/topics/CONTROL_QUEUE
  properties:
    topic: CONTROL_QUEUE

- type: gcp-types/pubsub-v1:projects.topics
  name: projects/{{ properties['project-name'] }}/topics/tweets-topic
  properties:
    topic: tweets-topic

- type: gcp-types/pubsub-v1:projects.subscriptions 
  name: projects/{{ properties['project-name'] }}/subscriptions/pubsub2bq 
  properties:
    topic: projects/{{ properties['project-name'] }}/topics/tweets-topic
    subscription: pubsub2bq

- type: bigquery.v2.dataset
  name: projects/{{ properties['project-name'] }}/datasets/tweetsds 
  properties:
    location: EU
    datasetReference:
      datasetId: tweetsds
      projectId: {{ properties['project-name'] }}

- type: gcp-types/bigquery-v2:tables
  name: projects/{{ properties['project-name'] }}/tables/aggregated 
  properties:
    tableReference:
      datasetId: tweetsds
      projectId: {{ properties['project-name'] }}
      tableId: aggregated

    schema:
      fields:
        - name: trends
          type: STRING
        - name: count
          type: INTEGER

- type: gcp-types/bigquery-v2:tables
  name: projects/{{ properties['project-name'] }}/tables/tweets 
  properties:
    tableReference:
      datasetId: tweetsds
      projectId: {{ properties['project-name'] }}
      tableId: tweets

    schema:
      fields:
        - name: tweet_text
          type: STRING